<hr />
<p>3rd assignment</p>

<button class="btn btn-primary" (click)="isVisible = !isVisible; logger()">
  Display details
</button>
<br /><br />
<p class="d-block" *ngIf="isVisible">
  Secret password is '{{ secretPassword }}'
</p>

<div
  *ngFor="let log of logs; let i = index"
  [ngStyle]="i >= 4 ? { color: 'white', backgroundColor: 'blue' } : {}"
>
  {{ log }}
</div>

<!-- De intrebat de ce nu merge cu fn -->
<!-- li -> [ngStyle]="getStyle()" -->

<!-- 1. Add A button which says 'Display Details'
2. Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')
3. Toggle the displaying of that paragraph with the button created in the first step
4. Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)
5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass) -->
